<header>
    <h1>{{ title }}</h1>
    <!--This part below is like using props in react-->
    <!--
        Now that btnClick is an event emitter we can call something else here, this component can now be used in various 
        places because we can easily define color, text and the method it is supposed to call

        We've changed the button so color and text changes based on component variable showAddTask

        Using another ngIf so we can only show this if we have the right route
    -->
     <app-button *ngIf="hasRoute('/')" color="{{showAddTask ? 'red' : 'green' }}" text="{{showAddTask ? 'Close' : 'Add'}}" (btnClick)="toggleAddTask()"></app-button>
</header>
